<mat-toolbar>
  <h1>Angular Material Components</h1>
</mat-toolbar>
<mat-divider></mat-divider>
<nav>
  <a mat-stroked-button routerLink="/fileupload-path" color="primary"
    >File-Upload</a
  >
  |
  <a mat-stroked-button routerLink="/grid-path" color="primary">Grid</a>|
  <a mat-stroked-button routerLink="/chart-path" color="primary">Chart</a>|
  <a mat-stroked-button routerLink="/line-graph" color="primary">Line Graph</a>|
  <a mat-stroked-button routerLink="/doughnut-path" color="primary"
    >Doughnut Graph</a
  >|
  <a mat-stroked-button routerLink="/form-path" color="primary">Form</a>
</nav>
<router-outlet></router-outlet>
